<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DocumentMapper">

    <cache/>

    <insert id="save">
        INSERT INTO t_document(name, `size`, createuser, type, filename, md5, fid,contexttype)
        VALUES (#{name},#{size},#{createuser},#{type},#{filename},#{md5},#{fid},#{contexttype})
    </insert>

    <select id="findByFid" resultType="Document">
        SELECT * FROM t_document WHERE fid = #{fid} order by id desc
    </select>

    <select id="findById" resultType="Document">
        SELECT * FROM t_document WHERE id = #{id}
    </select>

    <delete id="del">
        DELETE FROM t_document WHERE id = #{id}
    </delete>

</mapper>