<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.NoticeMapper">

    <cache/>

    <insert id="save">
        INSERT into t_notice(title, context,  userid, realname)
         VALUES (#{title},#{context},#{userid},#{realname})
    </insert>

    <select id="findByParam" resultType="Notice">
        SELECT * FROM t_notice order by id desc
        limit ${start},${length}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM t_notice
    </select>
    <select id="findById" resultType="com.kaishengit.pojo.Notice">
        SELECT * FROM t_notice WHERE  id = #{id}
    </select>

</mapper>