<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.SalesLogMapper">

    <cache/>

    <insert id="save">
        INSERT INTO t_sales_log(context,type, salesid)
        VALUES (#{context},#{type},#{salesid})
    </insert>
    <delete id="del">
        DELETE FROM t_sales_log WHERE  id IN (
        <foreach collection="list" item="log" separator=",">
            #{log.id}
        </foreach>
        )
    </delete>

    <select id="findBySalesId" resultType="SalesLog">
        SELECT * FROM t_sales_log WHERE salesid = #{salesId} order by id desc
    </select>

</mapper>