<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.TaskMapper">

    <cache/>

    <insert id="save">
        INSERT INTO t_task(title, start, `end`, color, remindertime, custid, salesid, userid)
        VALUES (#{title},#{start},#{end},#{color},#{remindertime},#{custid},#{salesid},#{userid})
    </insert>

    <select id="findByUserId" resultType="Task">
        SELECT * FROM t_task WHERE userid = #{userId}
    </select>

</mapper>