<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.BookMapper">

    <cache/>

    <insert id="save" parameterType="Book">
        INSERT INTO t_book(bookname, bookprice, bookauthor, booknum, typeid, pubid, bookpic)
        VALUES (#{bookname},#{bookprice},#{bookauthor},#{booknum},#{typeid},#{pubid},'')
    </insert>

    <select id="findAll" resultType="Book">
        SELECT t_book.*,
        t_booktype.id as 'bookType.id',t_booktype.booktype as 'bookType.bookType',
        t_publisher.id as 'publisher.id',t_publisher.pubname as 'publisher.pubname'
        FROM t_book
        INNER join t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher on t_book.pubid = t_publisher.id
        ORDER by t_book.id DESC
    </select>

    <delete id="del" parameterType="int">
        DELETE FROM t_book WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Book">
        UPDATE t_book SEt bookname = #{bookname},bookauthor=#{bookauthor},booknum=#{booknum},
        typeid=#{typeid},pubid=#{pubid},bookprice=#{bookprice}
        where id = #{id}
    </update>

    <select id="findById" resultType="Book">
        SELECT * FROM t_book where id = #{id}
    </select>

    <select id="count" resultType="long">
        SELECT count(*) from t_book
    </select>

    <select id="findByPage" resultType="Book">
        SELECT t_book.*,
        t_booktype.id as 'bookType.id',t_booktype.booktype as 'bookType.bookType',
        t_publisher.id as 'publisher.id',t_publisher.pubname as 'publisher.pubname'
        FROM t_book
        INNER join t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher on t_book.pubid = t_publisher.id
        ORDER by t_book.id DESC
        limit ${start},${size}
    </select>
    <select id="countByParam" resultType="long">
        SELECT count(*) FROM t_book
        <where>
            <if test="bookname != null and bookname != ''">
                bookname LIKE CONCAT('%',#{bookname},'%')
            </if>
            <if test="type != null and type != ''">
                and typeid = #{type}
            </if>
            <if test="pub != null and pub != ''">
                and pubid = #{pub}
            </if>
        </where>
    </select>

    <select id="findByParam" resultType="Book">
        SELECT t_book.*,
        t_booktype.id as 'bookType.id',t_booktype.booktype as 'bookType.bookType',
        t_publisher.id as 'publisher.id',t_publisher.pubname as 'publisher.pubname'
        FROM t_book
        INNER join t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher on t_book.pubid = t_publisher.id
        <where>
            <if test="bookname != null and bookname != ''">
                bookname LIKE CONCAT('%',#{bookname},'%')
            </if>
            <if test="type != null and type != ''">
                and typeid = #{type}
            </if>
            <if test="pub != null and pub != ''">
                and pubid = #{pub}
            </if>
        </where>
        ORDER by t_book.id DESC
        limit ${start},${size}
    </select>
    <select id="findByDataTable" resultType="com.kaishengit.pojo.Book">
        SELECT t_book.*,
        t_booktype.id as 'bookType.id',t_booktype.booktype as 'bookType.bookType',
        t_publisher.id as 'publisher.id',t_publisher.pubname as 'publisher.pubname'
        FROM t_book
        INNER join t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher on t_book.pubid = t_publisher.id
        <where>
            <if test="bookname != null and bookname != ''">
                bookname LIKE CONCAT('%',#{bookname},'%')
            </if>
            <if test="type != null and type != ''">
                and typeid = #{type}
            </if>
            <if test="pub != null and pub != ''">
                and pubid = #{pub}
            </if>
        </where>
        <if test="sortColumn != null and sortColumn != '' and sortType != null and sortType != ''">
        order by ${sortColumn} ${sortType}
        </if>
        limit ${start},${length}
    </select>
    <select id="countByKeyWord" resultType="long">
        SELECT COUNT(*) FROM t_book
        <where>
            <if test="keyword != null and keyword != ''">
                bookname LIKE concat('%',#{keyword},'%')
            </if>
        </where>
    </select>


</mapper>